<span *ngIf="!view_result">
  <div class="alert alert-warning" *ngIf="error">
    <strong>Warning!</strong> Fill each field before continuing.
  </div>

  <div>
    <h3 style="width:100%">Sentiment prediction</h3>
    <div style="width: 100%; display: inline-flex; margin-top: 10px; border-bottom: solid #dcdcdc 1px; height: 40px;">
      <div class="menuBox" [class.selectedBox]="tab==1" (click)="changeTabParam(1)">
        Insert text
      </div>
      <div class="menuBox" [class.selectedBox]="tab==2" (click)="changeTabParam(2)">
        Search Twitter
      </div>
    </div>

    <div *ngIf="tab == 1" style="margin-top:20px;">
      <label>Select a document</label><br>
      <select class="browser-default custom-select" [(ngModel)]="document" style="margin-bottom: 15px;">
          <option *ngFor="let doc of documents" value="{{doc._id.$oid}}">{{doc.source}} - {{doc.type}}</option>
          <option *ngIf="documents.length == 0" value="undefined">No document</option>
      </select>
      <textarea type="text" rows="10" id="formText" class="md-textarea form-control" mdbInput placeholder="Enter the text to analyze" [(ngModel)]="text"></textarea>

      <div class="md-form">
        <input type="text" id="splitCharacter" class="form-control" [(ngModel)]="splitCharacter" mdbInput>
        <!--<textarea rows="1" id="documentSource" type="text" class="md-textarea form-control" mdbInput [(ngModel)]="documentSource"></textarea>-->
        <label for="splitCharacter">Enter the split character</label>
      </div>
      <div>
        <label>Select a classifier</label><br>
        <select class="browser-default custom-select" [(ngModel)]="train" style="margin-bottom: 15px;">
          <option value="svm">SVM</option>
          <option value="logistic">Simple Logistic</option>
          <option value="knn">K-NN</option>
        </select>
      </div>
      <div>
        <div style="float:right">
          <button type="button" mdbBtn color="info" mdbWavesEffect (click)="split()">Run</button>
        </div>
      </div>
    </div>

    <div *ngIf="tab == 2" style="margin-top:20px;">
      <textarea type="text" rows="1" id="formUrl" class="md-textarea form-control" mdbInput placeholder="Enter a username to search on twitter" [(ngModel)]="username"></textarea>
      <div class="md-form">
        <input type="date" id="start_date" class="form-control" [(ngModel)]="start_date" mdbInput>
        <label for="start_date">Choose your start date</label>
      </div>
      <div class="md-form">
        <input type="date" id="end_date" class="form-control" [(ngModel)]="end_date" mdbInput>
        <label for="end_date">Choose your end date</label>
      </div>
      <div>
        <label>Select a classifier</label><br>
        <select class="browser-default custom-select" [(ngModel)]="train" style="margin-bottom: 15px;">
          <option value="svm">SVM</option>
          <option value="logistic">Simple Logistic</option>
          <option value="knn">K-NN</option>
        </select>
      </div>
      <div style="float:right">
        <button type="button" mdbBtn color="info" mdbWavesEffect (click)="searchTwitter()">Run</button>
      </div>
    </div>
  </div>
</span>

<app-result *ngIf="view_result" [document_id]="document" [array] ="array_split" [model]="train" [username]="username" [since]="start_date" [until]="end_date" (view_result)="viewTwitter($event)" ></app-result>
