.sectionContainer{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
  margin-top: 15px;
  border-radius: 5px;
  background-color: white;
}

.sectionHeader{
  padding: 15px;
  border-bottom: solid 1px #e0dfe0;
  font-size: 16pt;
  color: #2f4e5c;
}

.sectionBody{
  padding: 15px;
}

.col2{
  width: calc(100% - 500px);
}

.circle{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 3px solid #0099CC;
  float: right;
  text-align: center;
  color: #0099CC;
}
